
/* Typography
*/


@font-face {
    font-family: 'Inter';
    font-weight: 300;
    font-style: normal;
    src: local('Inter Light'), url('../fonts/Inter/Inter-Light.ttf') format('truetype');
}


@font-face {
    font-family: 'Inter';
    font-weight: 400;
    font-style: normal;
    src: local('Inter'), url('../fonts/Inter/Inter-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter';
    font-weight: 700;
    font-style: normal;
    src: local('Inter Bold'), url('../fonts/Inter/Inter-Bold.ttf') format('truetype');
}


body {
  font-size: 100%;
  font-family: "Inter", Helvetica, sans-serif;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

h1 {}
h2 {}
h3 { font-size: 1.25rem; }
h4 {}
h5 {}
h6 {}

/* Common elements
*/

a {
  color: #6DA396;
}

a[href*="https://dados.gov.pt"]::after { /* external links */
    display: inline-block;
    content: '↗';
    margin-right: 2px;
    vertical-align: text-bottom;
}


/* Layout */

html {
  background: rgba(174,191,161, 0.4); /* #aebfa1 */
}

body {
  color: #505958;
}

#app {
  padding: 20px;
  transition: all 0.2s;
  /*
  display: flex;
  flex-direction: column;
  */
  /*
  display: grid;
  grid-auto-rows: 6rem;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem 2rem;
  */
}

.orgs {
  padding: 1rem;
  background: #fff;
  
  width: 70%;
  max-width: 60rem;
  margin: 1rem auto;
}

.orgs summary {
}

.orgs summary:hover {
  cursor: pointer;
}

.orgs summary h3 {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.orgs summary h3 span {
  font-size: 1rem;
  font-weight: 400;
  font-variant-numeric: lining-nums tabular-nums; /* tabular lining numerals */
}

.orgs summary h3 strong {
  font-weight: 700;
  min-width: 1.75rem;
  text-align: right;
  display: inline-block;
  background: rgba(174,191,161, 0.7);
  padding: 0.5rem 0.3rem 0.5rem 0.7rem;
  border-radius: 20px 0 0 20px;
}

.orgs summary h3 em {
  display: inline-block;
  min-width: 1.75rem;
  text-align: left;
  color: rgba(80,89,88, 0.7); /* #505958 */
  background: rgba(174,191,161, 0.4);
  padding: 0.5rem 0.7rem 0.5rem 0.3rem;
  border-radius: 0 20px 20px 0;
}

/*
.orgs summary .numbers {
  line-height: 1;
  padding: 1rem 0;
}

.orgs summary .numbers span {
  display: inline-block;
}

.orgs summary em {  
  font-size: 0.875rem;
  font-weight: 300;
  text-transform: uppercase;
}

.orgs summary .numbers span strong {
  font-weight: 700;
  display: block;
  background: #aebfa1;
  padding: 0.5rem;
  border-radius: 20px;
}
*/
.orgs ul li {
  margin-top: 0.5rem;
}

.orgs li ul {
  margin-left: 1rem;
  margin-bottom: 1rem;
}

del {
  color: rgba(0, 0, 0, 0.3);
}

.unavailable {
  text-decoration: line-through;
  color: grey;
}

ul.dataset-resources {
  display: inline;
}
ul.dataset-resources li {
  display: inline;
}

.dataset-resource {
  text-decoration: none;
}
.resource-format {
  border: 1px solid blue;
  padding: 5px;
}
