<!DOCTYPE html>
<html lang="pt">

<head>
  <meta charset="utf-8">
  <title>Dados.Gov Overview</title>
  <meta name="description" content="Um explorador para os datasets disponíveis no Dados.Gov">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    
  <link rel="apple-touch-icon" href="icon.png">
  <link rel="shortcut icon" href="favicon.ico">
  
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/main.css">

</head>

<body>

  <!-- O conteúdo entra aqui -->
  <div id="app">
    
    <div class="orgs" v-for="org in sorted_orgs">
      <details>
        <summary>
          <h3>
            {{ org.name }}
            <span>
                <strong aria-label="datasets disponíveis">{{ org.datasets.filter(dataset => !dataset.unavailable ).length }}</strong><em aria-label="datasets listados">{{ org.datasets.length }}</em>
            </span>
          </h3>
          <!--
          <p class="numbers">
            <span>datasets</span>
            <span> <strong>{{ org.datasets.length }}</strong> <em>listados</em></span>
            <span> <strong>{{ org.datasets.filter(dataset => !dataset.unavailable ).length }}</strong> <em>disponíveis</em></span>
          </p>
          -->
        </summary>
        <ul>
          <li v-bind:class="{ unavailable: dataset.unavailable }" v-for="dataset in org.datasets">
            <a :href="dataset.page" target="_blank">{{ dataset.title }}</a>
            <ul class="dataset-resources">
              <li v-for="res in dataset.resources">
                <a class="dataset-resource" v-bind:class="{ unavailable: res.extras['check:available'] === false }" :href="res.url" target="_blank">
                  <span v-if="res.hasRelevantName" class="resource-title">{{ res.title }} -- </span>
                  <span class="resource-format">{{ res.format }}</span>
                </a> 
              </li>
            </ul>
            <ul class="dataset-metadata">
              <li v-if="dataset.frequency != 'unknown'">Frequência: {{ dataset.frequency }}</li>
              <li><span :title="'Atualizado em ' + dataset.last_update">Atualizado {{ dataset.human_last_update }}</span> e <span :title="'Modificado em ' + dataset.last_modified">modificado {{ dataset.human_last_modified }}.</li>
            </ul>

          </li>
        </ul>
      </details>
    </div>
    <h2>Datasets sem organização associada</h2>
      <ul>
        <li v-for="dataset in orphans">
          <a :href="dataset.page" target="_blank">{{ dataset.title }}</a>
          <ul>
            <li v-for="res in dataset.resources">
              <a v-bind:class="{ unavailable: !res.extras['check:available'] }" :href="res.url" target="_blank">
                <span v-if="res.title != dataset.title" class="dataset-title">{{ res.title }} -- </span>
                {{ res.format }}
              </a> 
            </li>
          </ul>

        </li>
      </ul>
    </div>


    <!-- Se apagar isto, nada carrega :( -->
    <div id="datasets" v-for="dataset in datasets">
      <!-- <h3>{{ dataset.title }}</h3> -->
    </div>

  </div>

  <script src="js/vendor/vue-2.6.10.js"></script>
  <script src="js/vendor/axios-0.18.0.js"></script>
  <script src="js/vendor/moment.min.js"></script>
  <script src="js/vendor/moment-locale-pt.js"></script>
  <script src="js/main.js"></script>
</body>

</html>
