<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="apple-touch-icon" href="icon.png">
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/main.css">

  <meta name="theme-color" content="#fafafa">
</head>

<body>

  <!-- O conteúdo entra aqui -->
  <div id="app">


    <div id="orgs" v-for="org in sorted_orgs" v-if="org.datasets.length > 3">
      <details>
        <summary>
          {{ org.name }} &ndash; {{ org.datasets.length }} ({{ org.datasets.filter(dataset => !dataset.unavailable ).length }} disponíveis)
        </summary>
        <ul>
          <li v-bind:class="{ unavailable: dataset.unavailable }" v-for="dataset in org.datasets">
            <a :href="dataset.page" target="_blank">{{ dataset.title }}</a>
            <ul>
              <li v-for="res in dataset.resources">
                <a v-bind:class="{ unavailable: !res.extras['check:available'] }" :href="res.url" target="_blank">
                  <span v-if="res.title != dataset.title" class="dataset-title">{{ res.title }} -- </span>
                  {{ res.format }}
                </a> 
              </li>
            </ul>

          </li>
        </ul>
      </details>
    </div>

    <h2>Organizações com 3 ou menos datasets</h2>
    <div id="orgs" v-for="org in sorted_orgs" v-if="org.datasets.length < 4">
      <details>
        <summary>
        {{ org.name }} &ndash; {{ org.datasets.length }}
        </summary>
        <ul>
          <li v-for="dataset in org.datasets">
            <a :href="dataset.page" target="_blank">{{ dataset.title }}</a>
            <ul>
              <li v-for="res in dataset.resources">
                <a v-bind:class="{ unavailable: !res.extras['check:available'] }" :href="res.url" target="_blank">
                  <span v-if="res.title != dataset.title" class="dataset-title">{{ res.title }} -- </span>
                  {{ res.format }}
                </a> 
              </li>
            </ul>

          </li>
        </ul>
      </details>
    </div>

    <h2>Datasets sem organização associada</h2>
      <ul>
        <li v-for="dataset in orphans">
          <a :href="dataset.page" target="_blank">{{ dataset.title }}</a>
          <ul>
            <li v-for="res in dataset.resources">
              <a v-bind:class="{ unavailable: !res.extras['check:available'] }" :href="res.url" target="_blank">
                <span v-if="res.title != dataset.title" class="dataset-title">{{ res.title }} -- </span>
                {{ res.format }}
              </a> 
            </li>
          </ul>

        </li>
      </ul>
    </div>


    <!-- Se apagar isto, nada carrega :( -->
    <div id="datasets" v-for="dataset in datasets">
      <!-- <h3>{{ dataset.title }}</h3> -->
    </div>

  </div>

  <script src="js/vendor/vue-2.6.10.js"></script>
  <script src="js/vendor/axios-0.18.0.js"></script>
  <script src="js/main.js"></script>
</body>

</html>
